@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import "variables.css";
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 4px var(--grey);
  max-height: 60px;
  margin-bottom: 4px;
}

nav{
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: white;
}

.menu a{
  text-transform: uppercase;
  text-decoration: none;
}

.logo img{
  max-width: 12rem;
}


.slogan{
  max-width: 200px;
  max-height:auto ;
  margin-left: -90px;
  display: inline-flex;
}

@media (max-width: 1240px) {
  .slogan{
    margin-left: 0;
  }
}

@media (max-width: 935px) {
  .slogan{
    display: none;
  }
  .menu{
    max-height: 60px;
  }
}
@media (max-width: 780px) {
  .logo img{
    max-width: 15rem;
  }
  .menu div a:not(.kobi-logo){
    display: none;
  }
}
.slogan p{
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  color: var(--green);
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
  padding-top: -50px;
}
/* 
Side menu */

.side-menu{
  height: 100vh;
  z-index: 10;
  top: 10px;
  position: fixed;
  right: -500px;
  background-color: var(--green);
  box-shadow: 5px 5px 10px var(--grey);
  border-radius: 15px;
  min-width: 300px;
  transition: .3s ease;
}

.side-menu.active{
  width: 20%;
  display: block;
  right: 0px;
}

.side-menu li{
  padding-bottom: 30px;
  list-style-type: none;
}

.side-menu a{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  color: aliceblue;
  transition: all 0.3s ease;
}

.side-menu a:hover{
  color: black;
  border-bottom: 2px solid var(--green);
}

.side-menu ul li:nth-child(1){
  padding-top: 50px;
}

.close{
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-top: -350px;
}

.close i{
  font-size: 2em;
  color: aliceblue;
}

.harmburger-menu{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.harmburger-menu i{
  color: var(--green);
  width: auto;
}

@media (max-width:780px) {
  .harmburger-menu{
    display: flex;
    max-height: 2rem;
  }
  .harmburger-menu i{
   font-size: 1.3rem;
  }
  .logo img{
    max-height: 5rem;
  }
  .menu{
    max-height: 55px;
  }
  .nav{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


div a{
  color: var(--green);
  font-weight: 500;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}

div a:not(.kobi-logo):hover{
  padding-bottom: 15px;
  color: var(--blue);
  border-bottom: 3px solid var(--blue);
  font-weight: 600;
}