@import "variables.css";

.products p{
  text-align: center;
  color: var(--green);
  font-size: var(--title);
}

.products{
  margin-top: 80px;
}

.beauty-products{
  display: flex;
  justify-items: space-around;
  height: 200px;
  align-content: center;
  justify-content: space-around;
}

@media (max-width: 850px) {
  .beauty-products{
   height: 120px;
   justify-content: space-between;
   justify-items: space-between;
  }
}

