@import "variables.css";

.services-head1, .services-head2{
  display: flex;
}

@media (max-width: 850px) {
  .services-head1, .services-head2{
    display: block;
  }
}

.services-head1 *, .services-head2 *{
  flex: 1;
}

.dispensing, .screening-services{
  height: 500px;
  box-shadow: 2px 2px 10px grey;
  margin: 20px;
  border-radius: 30px;
}

@media (max-width: 850px) {
  .dispensing, .counselling, .screening-services{
    height: 300px;
    border-radius: 5px;
    margin: 5px;
  }
}

.counselling{
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}

.dispensing:hover::after, .screening-services:hover{
  border: 4px solid var(--blue);
}



.services-title{
  color: var(--green);
  text-align: center;
  font-size: var(--title);
  margin-top: 30px;
}

@media (max-width: 780px) {
  .services-head{
    display: block;
    margin-right: 0;
    display: block;
  }
}

/* Kobi Quote */
.kobi-quote{
  background-color: var(--green);
  margin-top: 80px;
  text-align: center;
  font-size: 4rem;
  box-shadow: 3px 3px 10px grey;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 950px) {
  .kobi-quote{
    font-size: 2.2rem;
    height: 150px;
  }
}

.kobi-quote span{
  color: white;
}

.dispensing img, .counselling img{
    width: 100%;
    height: 100%;
    object-fit: inherit;
    border-radius: inherit;
    filter: brightness(1.2);
}


.main-services{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .main-services{
    flex-wrap: wrap;
  }
}

.icons, .counsell, .medications, .cosmetics{
  margin: 2px;
  padding: 10px;
  transition: 0.3s ease;
  text-align: center;
  text-transform: uppercase;
  color: var(--green);
  font-size: 20px;
}

.icons:hover, .counsell:hover, .medications:hover, .cosmetics:hover{
 border: 2px solid black;
 border-radius: 8px;
 cursor: pointer;
 color: black;
}

.main-services img{
  max-width: 200px;
  max-height: 200px;
}